/* Font toggle classes */
.font-prompt {
  font-family: 'Prompt', Arial, sans-serif !important;
}
.font-sarabun {
  font-family: 'TH Sarabun New', Arial, sans-serif !important;
}
/* นำเข้าไฟล์ฟอนต์ Prompt แบบ local */
@font-face {
  font-family: 'Prompt';
  src: url('/next-pwa/fonts/Prompt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Prompt';
  src: url('/next-pwa/fonts/Prompt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Prompt';
  src: url('/next-pwa/fonts/Prompt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Prompt';
  src: url('/next-pwa/fonts/Prompt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Prompt', 'TH Sarabun New', Arial, Helvetica, sans-serif;
  font-size: 22px;
}
